@font-face {
	font-family: 'kenney_spaceregular';
	src: url(../fonts/kenney_space-webfont.woff) format('woff');
	src: url(../fonts/kenney_space-webfont.woff2) format('woff2');
	src: url(../fonts/kenney_space.ttf) format('truetype');
	text-decoration: none;
}

@font-face {
	font-family: 'supercomputerregular';
	src: url(../fonts/supercomputer-webfont.woff) format('woff');
	text-decoration: none;
}

body {
	max-width: 400pt;
	background-color: #061045;
	font-family: 'Futura', Helvetica, sans-serif;
	font-weight: 800;
	font-stretch: condensed;
}

#wrapper {
	margin: 1em;
	padding: 1em;
	background-color: #BABFD6;
	border-radius: 12pt;
}

#header_div {
	text-align: center;
}

#logo {
	max-width: 20%;
	max-height: 4em;
	margin-top: 0em;
	display: inline-block;
	margin-right: 0.5em;
}

h1 {
	margin: 0em;
	display: inline-block;
	color: #F4F2DC;
	font-size: 1.5em;
	text-shadow: 2px 2px 8px #000000;
	font-family: 'kenney_spaceregular';
}

#six {
	font-family: 'supercomputerregular';
	margin-right: 3pt;
}

.slogan {
	text-align: center;
	font-size: 0.8em;
	margin-top: 4pt;
	margin-bottom: 0pt;
}

hr {
	background-color: #5e6369;
	border-style: none;
	height: 3px;
	border-radius: 2px;
}

nav {
	text-align: center;
}

a {
	text-decoration: none;
}

button {
	font-family: 'Futura', Helvetica, sans-serif;
	font-weight: 800;
	font-stretch: condensed;
	vertical-align: middle;
	padding: 0.3em;
	background-color: #F4F2DC;
	min-width: 6em;
	max-width: 30%;
	height: 3em;
	border-style: none;
	border-radius: 12px;
}

button a {
	color: inherit;
}

button.highlight {
	background-color: #061045;
	color: #F4F2DC;
}

#welcome {
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 1em;
	border-radius: 12pt;
	border: none;
	text-align: center;
	background-image: url('../images/splash.jpg');
	background-position: top;
	background-repeat: no-repeat;
	height: 6em;
}

h2 {
	text-shadow: 2px 2px 8px #000000;
	text-decoration: none;
	font-size: 2em;
	color: #F4F2DC;
	font-family: 'kenney_spaceregular';
}

h3 {
	font-size: 1.5em;
	text-align: center;
	text-shadow: 1px 2px 3px #000000;
	text-decoration: none;
	color: #BABFD6;
	font-family: 'kenney_spaceregular';
	margin: 0pt;
}

span.menu_item {
	text-align: left;
}

span.price {
	text-align: right;
}

ul {
	display: block;
	padding-left: 0;
}

li {
	display: flex;
	justify-content: space-between;
}

div.main {
	background-color: #F4F2DC;
	border-radius: 12pt;
	margin-top: 1em;
	margin-bottom: 0pt;
	margin-left: 0em;
	margin-right: 0em;
	padding: 1em;
}

div img {
	max-width: 100%;
	margin-top: 1em;
}

div p {
	margin-bottom: 4pt;
}

#social_container {
	text-align: center;
}

img.social {
	margin-left: 2pt;
	margin-right: 2pt;
	max-width: 25%;
}