@font-face {
	font-family: 'kenney_spaceregular';
	src: url(../fonts/kenney_space-webfont.woff) format('woff');
	text-decoration: none;
}

@font-face {
	font-family: 'supercomputerregular';
	src: url(../fonts/supercomputer-webfont.woff) format('woff');
	text-decoration: none;
}

body {
	background-image: url("../Images/splash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
	font-family: 'Futura', Helvetica, sans-serif;
	font-weight: 800;
	font-stretch: condensed;
}
main{
	margin-top: 80px;
	align-items: center;
}

.about-content{
	padding: 1.5rem;
	width: 85%;
}

.container{
	text-align: center;
}