* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	font-family: 'Futura', Helvetica, sans-serif;
	font-weight: 800;
	font-stretch: condensed;
	overflow-x: hidden;
}

@font-face {
	font-family: 'kenney_spaceregular';
	src: url(../Fonts/kenney_space-webfont.woff) format('woff');
	text-decoration: none;
}

@font-face {
	font-family: 'supercomputerregular';
	src: url(../Fonts/supercomputer-webfont.woff) format('woff');
	text-decoration: none;
}



.hero {
	height: 100vh;
	width: 100vw;
	background-image: url('../Images/splash.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.headerWrapper {
	position: absolute;
	width: 100%;
}

header {
	z-index: 3;
	display: flex;
	justify-content: space-between;
	width: 100%;
	position: fixed;
	top: 0;
	background-color: rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(10px);


}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
}

.midBtn {
	margin: 0 10px;
}

.menuimg {
	width: 30rem;
	border-radius: 20px;
}

.row {
	display: flex;
	justify-content: center;
}

.menuItems {
	margin: 30px;
}

.footerdiv {
	padding: 100px;
}

#logo {
	max-width: 20%;
	max-height: 4em;
	margin-top: 0em;
	display: inline-block;
	margin-right: 0.5em;
}

iframe {
    margin-top: 10%;
    margin-right: 25%;
    margin-left: 25%;
}

#menu_button {
    margin-right: 45%;
    margin-left: 45%;
}

h1 {
	margin: 0em;
	display: inline-block;
	color: #F4F2DC;
	font-size: 1.5em;
	text-shadow: 2px 2px 8px #000000;
	font-family: 'kenney_spaceregular';
}

.six {
	font-family: 'supercomputerregular';
	margin-right: 3pt;
}

.mainContent {
	position: relative;
	top: -250px;
	margin: 0 5%;
}

.content {
	background-color: #F4F2DC;
	margin: 10px auto;
	border-radius: 20px;

}

.weeklySpecials {
	padding: 30px;
	display: flex;
}

.weeklyimg {
	margin-top: 10px;
	width: 400px;
	border-radius: 20px;
}

.weeklyText {
	display: flex;
	align-items: center;
	margin-left: 30px;
	font-size: 1.3rem;
}


.welcome {
	padding: 40px;
	font-size: 1.3rem;
}

.slogan {
	text-align: center;
	font-size: 0.8em;
	margin-top: 4pt;
	margin-bottom: 0pt;
}

/* tabs */


[data-tab-content] {
	display: none;
  }
  
  .active[data-tab-content] {
	display: block;
  }
  
  
  .tabs {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid black;
  }
  
  .tab {
	cursor: pointer;
	padding: 10px;
  }
  
  .tab:hover {
	background-color: #AAA;
  }
  
  .tab-content {
	margin-left: 20px;
	margin-right: 20px;
  }

  .firstRow {
	  display:flex;
	  flex-direction: row;
  }

 



/* footer */
footer {
	display: flex;
}

hr {
	background-color: #5e6369;
	border-style: none;
	height: 3px;
	border-radius: 2px;
}

nav {
	text-align: center;
}

a {
	text-decoration: none;
}

button {
	font-family: 'Futura', Helvetica, sans-serif;
	font-weight: 800;
	font-stretch: condensed;
	vertical-align: middle;
	padding: 0.3em;
	background-color: #F4F2DC;
	min-width: 6em;
	max-width: 30%;
	height: 3em;
	border-style: none;
	border-radius: 12px;
}

button a {
	color: inherit;
}

button.highlight {
	background-color: #061045;
	color: #F4F2DC;
}



h2 {
	text-shadow: 2px 2px 8px #000000;
	text-decoration: none;
	font-size: 2em;
	color: #F4F2DC;
	font-family: 'kenney_spaceregular';
}

h3 {
	font-size: 1.5em;
	text-align: center;
	text-shadow: 1px 2px 3px #000000;
	text-decoration: none;
	color: #BABFD6;
	font-family: 'kenney_spaceregular';
	margin: 0pt;
}