body {
    background-image: url("../Images/nathan-dumlao-6VhPY27jdps-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

iframe {
    display: block;
    margin: auto;
}

small {
    display: block;
    text-align: center;
}

a:link {
    text-decoration: none;
}

#maplink {
    display: block;
    background-color: #f4f2dc;
    margin: auto;
    border: 1px solid #F4f2dc;
    padding: 1px;
    border-radius: 10pt;
}

div.main {
	background-color: #F4F2DC;
	border-radius: 12pt;
	margin: 1em;
	padding: 1em;
}
#social_container {
	text-align: center;
}

img.social {
	margin-left: 2pt;
	margin-right: 2pt;
	max-width: 25%;
}
.slogan {
	text-align: center;
	font-size: 0.8em;
	margin-top: 4pt;
	margin-bottom: 0pt;
}