@font-face {
    font-family: 'kenney_spaceregular';
    src: url(../fonts/kenney_space-webfont.woff) format('woff');
    text-decoration: none;
    font-size: medium;
}

@font-face {
    font-family: 'supercomputerregular';
    src: url(../fonts/supercomputer-webfont.woff) format('woff');
    text-decoration: none;
    font-size: medium;
}

body {
    background-image: url("../Images/nathan-dumlao-6VhPY27jdps-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Futura', Helvetica, sans-serif;
    font-weight: 800;
    font-stretch: condensed;
}

header {
    top: 0;
    position: sticky;
    background-color:rgba(255,255,255,0.5);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    
}


nav {
    opacity: 1;
    top: 0;
    display: flex;
    justify-content: center;
    position: sticky;
}


iframe {
    display: block;
    margin: auto;
}

small {
    display: block;
    text-align: center;
}

h3 {
    font-size: 1.5em;
    text-align: center;
    text-shadow: 1px 2px 3px #000000;
    text-decoration: none;
    color: #BABFD6;
    font-family: 'kenney_spaceregular';
    margin: 0pt;
}

a:link {
    text-decoration: none;
}

button {
    display: block;
    margin: auto;
    font-family: 'Futura', Helvetica, sans-serif;
    font-weight: 800;
    font-stretch: condensed;
    font-size: 1.5em;
    padding: 1em;
    background-color: #F4F2DC;
    min-width: 6em;
    max-width: 30%;
    height: 3em;
    border-style: none;
    border-radius: 12px;
}

button a {
    color: inherit;
}

button.highlight {
	background-color: #061045;
	color: #F4F2DC;
}

div.main {
    background-color: #F4F2DC;
    border-radius: 12pt;
    margin: 1em;
    padding: 1em;
}

#social_container {
    margin-top: 1em;
    text-align: center;
}

img.social {
    margin-left: 2pt;
    margin-right: 2pt;
    max-width: 25%;
}

.slogan {
    text-align: center;
    font-size: 0.8em;
    margin-top: 4pt;
    margin-bottom: 0pt;
}