@font-face {
    font-family: 'kenney_spaceregular';
    src: url(../fonts/kenney_space-webfont.woff) format('woff');
    text-decoration: none;
    font-size: medium;
}

@font-face {
    font-family: 'supercomputerregular';
    src: url(../fonts/supercomputer-webfont.woff) format('woff');
    text-decoration: none;
    font-size: medium;
}

body {
    background-image: url("../Images/nathan-dumlao-6VhPY27jdps-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Futura', Helvetica, sans-serif;
    font-weight: 800;
    font-stretch: condensed;
}

header {
    top: 0;
    background-color: rgba(255,255,255,0.5);
    position: sticky;
    display: flex;
}
a {
    display: inline-block;
	text-decoration: none;
}

#logo {
    display: inline;
	max-width: 20%;
	max-height: 4em;
	margin-top: 0em;
	margin-right: 0.5em;
}

.slogan {
	text-align: center;
	font-size: 0.8em;
	margin-top: 4pt;
	margin-bottom: 0pt;
}

h2 {
    display: inline-block;
	text-shadow: 2px 2px 8px #000000;
	text-decoration: none;
	font-size: 2em;
	color: #F4F2DC;
	font-family: 'kenney_spaceregular';
}

nav {
    display: inline-flex;
    justify-content: space-evenly;
}

.top_button {
    display: inline-block;
}

main {
    text-align: center;
}

iframe {
    display: block;
    margin: auto;
}

small {
    display: block;
    text-align: center;
}

h3 {
    font-size: 1.5em;
    text-align: center;
    text-shadow: 1px 2px 3px #000000;
    text-decoration: none;
    color: #BABFD6;
    font-family: 'kenney_spaceregular';
    margin: 0pt;
}

a:link {
    text-decoration: none;
}

button {
    margin: 1.5em;
    font-family: 'Futura', Helvetica, sans-serif;
    font-weight: 800;
    font-stretch: condensed;
    font-size: 1.5em;
    padding: 1em;
    background-color: #F4F2DC;
    min-width: 6em;
    max-width: 30%;
    height: 3em;
    border-style: none;
    border-radius: 12px;
}

button a {
    color: inherit;
}

button.highlight {
	background-color: #061045;
	color: #F4F2DC;
}

div.main {
    background-color: #F4F2DC;
    border-radius: 12pt;
    margin: 1em;
    padding: 1em;
}

#social_container {
    margin-top: 1em;
    text-align: center;
}

img.social {
    margin-left: 2pt;
    margin-right: 2pt;
    max-width: 25%;
}

.slogan {
    text-align: center;
    font-size: 0.8em;
    margin-top: 4pt;
    margin-bottom: 0pt;
}

